<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>medico</title>
</head>
<body>
<h1>MEDICO</h1>
<h4>Witaj na portalu medycznym Medico!</h4>
<p>Zaloguj się aby umowić wizytę lub zobaczyc wyniki badań.</p>
<a th:href="@{/login}">Zaloguj się</a>
<p>Lub zarejestruj jeśli nie masz jeszcze konta.</p>
<a th:href="@{/register}">Załóż nowe konto</a>
<p>Zobacz nasze pakiety.</p>
<a th:href="@{/offer}">Oferta</a>
<br><br><br>
</body>
</html>

